#particle {
  position: absolute;
  transform: translate(-20%, -1%);
  height: 90vh;
}
@media only screen and (max-width: 900px) {
  #particle {
    display: none;
  }
}

.navbar-logo {
  color: rgb(26, 146, 146);
  font-size: large;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page-header-image {
  height: 100%;
  width: auto;
  background-color: rgba(0, 0, 0, 1);
}
.navbar {
  background-color: rgba(44, 44, 43, 0.9);
}

.nav-icon {
  color: #ecf0f1;
}

.nav-icon:hover {
  color: #68c3a3;
}
.subtitle {
  display: block;
  padding-right: 5rem;
}
.t {
  font-size: 10rem;
  font-family: "Libre Baskerville";
  margin-top: 8rem;
  background: -webkit-linear-gradient(
    90deg,
    #674172,
    #913d88,
    #a2ded0,
    #68c3a3,
    #913d88,
    #674172
  );
  background: linear-gradient(
    90deg,
    #674172,
    #913d88,
    #a2ded0,
    #68c3a3,
    #913d88,
    #674172
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 400%;
  animation: t 20s infinite linear;
  transition: all 1s;
}

@keyframes t {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.timelink {
  background: -webkit-linear-gradient(
    90deg,
    #674172,
    #913d88,
    #a2ded0,
    #68c3a3,
    #913d88,
    #674172
  );
  background: linear-gradient(90deg, #913d88, #a2ded0, #913d88);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: moveLeft 1.5s ease;
  transition: all 0.3s;
}

@keyframes moveLeft {
  0% {
    transform: translateY(18px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about-section {
  width: 100vw;
  height: auto;
  background-color: #000;
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  transition: all 0.8s;
}
@media only screen and (max-width: 1020px) {
  .about-section {
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}
.img-about img {
  height: auto;
  width: 100%;
  filter: brightness(0.4);
  transition: all 0.4s;
}
.img-about img:hover {
  filter: brightness(0.9);
}

.about-heading {
  display: block;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: "Libre Baskerville";
  background: -webkit-linear-gradient(
    170deg,
    #913d88,
    #674172,
    #a2ded0,
    #2abb9b,
    #913d88
  );
  background: linear-gradient(
    170deg,
    #913d88,
    #674172,
    #a2ded0,
    #2abb9b,
    #913d88
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.product-description {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.87);
  transition: all 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
}

@media only screen and (max-width: 900px) {
  .product-description {
    padding: 4rem;
  }
}

.main h3 {
  font-size: 2.8rem;
  color: #111;
}
.gallery-cont {
  display: grid;
  grid-column-gap: 1rem;
  padding: 0 2.5rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}

@media only screen and (max-width: 900px) {
  .gallery-cont {
    padding: 0 0.5rem;
    grid-column-gap: 0.8rem;
  }
}

.gallery__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: all 0.5s;
  backface-visibility: hidden;
  filter: grayscale(0.7);
}

.gallery-1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.gallery-2 {
  grid-column: 8 / span 4;
  grid-row: 3 / span 3;
}

.gallery-3 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
}

.gallery-4 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 1;
}

.gallery-5 {
  grid-column: 6 / span 2;
  grid-row: 1 / span 1;
}

.gallery-6 {
  grid-column: 4 / span 4;
  grid-row: 2 / span 3;
}

.gallery-7 {
  grid-column: 6 / span 2;
  grid-row: 5 / span 1;
}

.gallery-8 {
  grid-column: 8 / span 4;
  grid-row: 1 / span 2;
}
.gallery-9 {
  grid-column: 4 / span 2;
  grid-row: 5 / span 1;
}

.gallery__img:hover {
  transform: scale(1.05);
  filter: none;
}

.contact-sign {
  position: relative;
  padding: 9rem 0rem;
  margin: 5rem 12rem;
  border: 1px solid #111;
  transition: all 4s;
  animation: color 8s infinite alternate;
}

@media only screen and (max-width: 900px) {
  .contact-sign {
    border: none;
    padding: 2rem;
    margin: 2rem 0.5rem;
  }
}
@keyframes color {
  0% {
    border: 1px solid #111;
  }
  20% {
    border: 1px solid #674172;
  }

  40% {
    border: 1px solid #a2ded0;
  }
  60% {
    border: 1px solid #2abb9b;
  }
  100% {
    border: 1px solid #913d88;
  }
}
#email-button {
  background: transparent;
  color: #cf000f;
  border: 1px solid #111;
  border-radius: 0;
  font-weight: 400;
  /* text-transform: uppercase; */
  position: relative;
  display: inline-block;
  padding: 1.2rem 4rem;
  transition: all 0.4s;
  animation: color 8s infinite alternate;
}

.email-btn:link,
.email-btn:visited {
  background: #913d88;
  background-size: 400%;
  transition: transform 0.5s;
  border: none;
}
#email-button:hover,
#email-button:active {
  background-color: #cf000f;
  background-size: 400%;
  animation: button 20s linear infinite;
  border: 1px solid transparent;
  color: #fff;
}

@keyframes button {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: 400%;
  }
}
.email-heading {
  font-weight: 400;
  font-size: 2.5rem;
  color: #111;
  margin: 0;
}
.section-basic {
  background-color: #f2f1ef;
}

.heart {
  color: #cf000f;
  text-align: center;
}
.footer {
  background-color: rgba(7, 7, 7, 0.94);
  font-size: 1.8rem;
  padding-top: 3.5rem;
}

.footer a:hover {
  background: #222;
}
@media only screen and (max-width: 900px) {
  .container {
    display: flex;
  }
}
